---
name: Publish docs
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
      - uses: actions/setup-python@2e3e4b15a884dc73a63f962bff250a855150a234
        with:
          python-version: '3.14'
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force
