---
name: Release to PyPI

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Install core dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Set up Python
        uses: actions/setup-python@2e3e4b15a884dc73a63f962bff250a855150a234
        with:
          python-version: "3.14"
          cache: poetry

      - name: Install dependencies
        env:
          PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
        run: poetry install --only main

      - name: Build package
        run: poetry build

      - name: Upload to PyPI
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.POETRY_PYPI_TOKEN_PYPI }}
        run: poetry publish
