---
name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Checkout the code
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Install core dependencies
        run: |
            python -m pip install --upgrade pip
            pip install poetry

      - name: Set up py-${{ matrix.python-version }}
        uses: actions/setup-python@2e3e4b15a884dc73a63f962bff250a855150a234
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry

      - name: Install dependencies
        env:
          PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
        run: poetry install

      - name: Test with tox
        run: poetry run tox

  cov:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Setup Python
        uses: actions/setup-python@2e3e4b15a884dc73a63f962bff250a855150a234
        with:
          python-version: "3.14"

      - name: Install core dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies
        env:
          PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
        run: poetry install

      - name: Coverage
        run: poetry run pytest --cov-report=term-missing --cov=mypy_gh_action_report tests/ > pytest-coverage.txt

      - name: pytest-coverage-commentator
        uses: coroo/pytest-coverage-commentator@v1.0.2
        with:
          pytest-coverage: pytest-coverage.txt

  type_check:
    strategy:
      matrix:
        type_checker: [ "mypy", "ty check" ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Setup Python
        uses: actions/setup-python@2e3e4b15a884dc73a63f962bff250a855150a234
        with:
          python-version: "3.14"

      - name: Install core dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies
        env:
          PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring
        run: poetry install --only type_check

      - name: Type check
        run: poetry run ${{ matrix.type_checker }} mypy_gh_action_report
